# Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing Dataset

In [ ]:
dataset = pd.read_csv('Salary1.csv')
dataset

In [ ]:
dataset.shape

In [ ]:
df=pd.DataFrame(data=dataset)
df

In [ ]:
df1=df.drop(['Name'],axis=1)
df1

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
df.drop(['Name'],axis=1,inplace=True)
df

In [ ]:
import seaborn as sns
sns.heatmap(df.isnull())

In [ ]:
df.isnull().sum()

In [ ]:
#df.dropna(axis=0,inplace=True)
#df
#!pip install sklearn-pandas
#sklearn-pandas has CategoricalImputer

In [ ]:
#sklearn.impute SimpleImputer class works for null values in objects or categorical data or object data type

In [ ]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy="most_frequent")
df['City']=imp.fit_transform(df['City'].values.reshape(-1,1))
df

In [ ]:
df['Age'].shape

In [ ]:
#df['Age']=df['Age'].values.reshapes(-1,1)
#df['Age'].shape

In [ ]:
#imputer works for numurical data such as Age and Salary

In [ ]:
# for each column, get value counts in decreasing order and take the index (value) of most common class
df1= df.apply(lambda x: x.fillna(x.value_counts().index[4]))
df1

In [ ]:
df1['Salary'].values.reshape((-1,1))

In [ ]:
df1['City'].values.reshape((-1,1))

In [ ]:
df1['Country'].values.reshape((-1,1))

In [ ]:
df1

In [ ]:
df1.isnull().sum()

In [ ]:
le=LabelEncoder()
#df['city']=le.fit_transform(df['city'])

list1=['City','Country']
for val in list1:
    df1[val]=le.fit_transform(df[val].astype(str))

In [278]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)
x

array([[-1.64, -0.63,  1.02,  1.06],
       [-1.49, -0.17, -0.94,  1.06],
       [-1.34,  0.29,  1.02,  1.06],
       [-1.2 , -0.93, -0.16,  0.16],
       [-1.05, -0.32, -0.16, -0.73],
       [-0.9 , -0.32, -0.16,  0.16],
       [-0.75,  1.67, -1.73, -0.73],
       [-0.6 ,  0.9 ,  0.23,  0.16],
       [-0.46,  2.74,  1.41, -0.73],
       [-0.16, -0.32,  1.41, -0.73],
       [-0.01, -0.93, -0.16,  0.16],
       [ 0.13, -0.32, -0.16, -0.73],
       [ 0.28, -1.54, -0.16,  0.16],
       [ 0.43,  1.67, -0.16, -0.73],
       [ 0.58,  0.9 ,  0.23,  0.16],
       [ 0.73, -0.32,  1.41, -0.73],
       [ 0.87, -0.78,  1.41, -0.73],
       [ 1.02, -0.17, -0.94,  1.06],
       [ 1.17,  0.29, -1.34, -1.63],
       [ 1.32, -0.01, -2.12, -1.63],
       [ 1.46, -0.93, -0.55,  1.96],
       [ 1.61, -0.78,  0.62,  1.96]])

In [279]:
##Splitind dataset

df1

In [280]:
x=df1.iloc[:, 0:4]
x

    SNo   Age  City  Country
0     1  28.0     8        3
1     2  31.0     3        3
2     3  34.0     8        3
3     4  26.0     5        2
4     5  30.0     5        1
5     6  30.0     5        2
6     7  43.0     1        1
7     8  38.0     6        2
8     9  50.0     9        1
9    11  30.0     9        1
10   12  26.0     5        2
11   13  30.0     5        1
12   14  22.0     5        2
13   15  43.0     5        1
14   16  38.0     6        2
15   17  30.0     9        1
16   18  27.0     9        1
17   19  31.0     3        3
18   20  34.0     2        0
19   21  32.0     0        0
20   22  26.0     4        4
21   23  27.0     7        4

In [281]:
y=df1.iloc[:,-1]
y

0     20000.0
1      3900.0
2      8000.0
3     66672.0
4      8888.0
5     30007.0
6      8300.0
7     54666.0
8     67666.0
9      8888.0
10    66672.0
11    34344.0
12    30007.0
13     8300.0
14    54666.0
15    67666.0
16     8888.0
17     8888.0
18    34432.0
19    34534.0
20    33451.0
21     8888.0
Name: Salary, dtype: float64

In [284]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [272]:
lr=LinearRegression()

In [273]:
lr.fit(x_train,y_train)
lr.score(x_train,y_train)

0.1519190002611711

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import linear_model

max_r2_score=0
for r_state in range(42,101):
    x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = r_state,test_size = 0.20)
    regr=linear_model.LinearRegression()
    regr.fit(x_train,y_train)
    y_pred=regr.predict(x_test)
    r2_scr=r2_score(y_test,y_pred)
    print("r2_score corresponding to random state:",r_state,"is: ",r2_scr)
    if r2_scr>max_r_score:
        max_r_score=r2_scr
        m= r_state
print()
print()
print("max r2 score corresponding to",m,"is", max_r_score)

In [276]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(x, y)

LinearRegression()

In [277]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 4)
x_poly = poly_reg.fit_transform(x)
lin_reg_2 = LinearRegression()
lin_reg_2.fit(x_poly, y)

LinearRegression()